.magazine-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.magazine-grid > * {
  height: fit-content;
}

@media (min-width: 768px) {
  .magazine-grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (min-width: 1024px) {
  .magazine-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
